<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <title>Tomato database!</title>
        <link rel="icon" href="https://i.imgur.com/I8ju6wN.png">
	</head>

	<body>

		<button id="showData">Show data!</button>
		
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="db.js"></script>
	</body>
</html>