<!DOCTYPE html>
<html style="background-color:#000000; color:#FFFFFF;">
	<head>
        <meta charset="UTF-8" />
        <link rel="icon" href="https://i.imgur.com/I8ju6wN.png">
        <title>Tales of Raziel Lewach</title>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
		
		<style>
			/* Style the tab */
			.tab {
				overflow: hidden;
				border: 1px solid #ccc;
				background-color: #f1f1f1;
			}

			/* Style the buttons inside the tab */
			.tab button {
				background-color: inherit;
				float: left;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 14px 16px;
				transition: 0.3s;
				font-size: 17px;
			}

			/* Change background color of buttons on hover */
			.tab button:hover {
				background-color: #ddd;
			}

			/* Create an active/current tablink class */
			.tab button.active {
				background-color: #ccc;
			}

			/* Style the tab content */
			.tabcontent {
				display: none;
				padding: 6px 12px;
				border: 1px solid #ccc;
				border-top: none;
			}
			
			// Colores para los diálogos.
			#chapter {
				color: #FFFFFF;
			}
			.colGreen {
				color: #00FF00;
			}
		</style>
	</head>

	<body>
		<table><tr><td>TALES OF RAZIEL LEWACH</td></tr>
		<tr><td><label for="name">Name:</label><input id="name" type="text"></input></td>
		<td><label for="pass">Password:</label><input id="pass" type="text"></input></td>
		<td><p id="msgSesion">Account not started. Create a new user or enter your existing user!</p></td></tr></table>
		
		<div id="content" style="display: none;">
			<div class="tab">
				<button class="tablinks" onclick="openTale(event, 'aSpaceTrip')">A Space Trip</button>
			</div>

			<div id="aSpaceTrip" class="tabcontent">
				<table><tr><td><label for="charname01">Character name:</label><input id="charname01" type="text"></input><button id="bt01m">&#9893</button><button id="bt01f">&#9792</button></td><td>Chapters:</td><td><button id="bt01e01">1</button></td><td><button id="bt01e02">2</button></td></tr></table>
			</div>
			
			<br>
			<p id="chapter"></p>
		</div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			var name = ""; // Nombre de usuario para chequear en el momento. Sólo se setea tras logins exitosos, pero aun así comprobar en cada acceso por si lo modifican con hacks.
			var pass = ""; // Contraseña guardada con la que te registraste o iniciaste sesión.
			var currentCharacterName = ""; // Nombre actual del personaje actual de la tale seleccionada.
			var currentCharacterGender = ""; // El género actual pos.
			
			// Envia las señales del login.
			$("#name").keypress((e) => {
				if (e.key == "Enter") login();
			});
			$("#pass").keypress((e) => {
				if (e.key == "Enter") login();
			});
			
			function login()
			{
				socket.emit("login",$("#name").val(),$("#pass").val());
			}
			
			// Recibe las señales del login.
			socket.on("newUserSuccess", (_name,_pass) => {
				name = _name;
				pass = _pass;
				$("#msgSesion").text("Welcome to your account, "+String(name)+"!");
				$("#content").css("display","inline");
				resetTales();
			});
			socket.on("newUserFail", () => {
				$("#msgSesion").text("Wrong password for that account!");
				name = "";
				pass = "";
				$("#content").css("display","none");
				resetTales();
			});
			
			// Maneja los tabs de las tales.
			function openTale(_evt,_taleName) {
				resetTales();
				document.getElementById(_taleName).style.display = "block";
				_evt.currentTarget.className += " active";
				$("#chapter").text("");
				currentCharacterName = "";
				currentCharacterGender = "";
				
				// Actualiza el character name que toca.
				if (_taleName == "aSpaceTrip") socket.emit("demandCharacterData",name,pass,"01");
			}
			
			// Resetea las tales.
			function resetTales()
			{
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				}
			}
			
			// Muestra cada episodio.
			setChapterListener("01","01");
			setChapterListener("01","02");
			
			// La lógica y el chequeo a base de datos si tenemos acceso a ese episodio.
			function setChapterListener(_tale,_chapter)
			{
				$("#bt"+String(_tale)+"e"+String(_chapter)).click((e) => {
					// Al clicar el botón, comprobamos que el usuario tiene acceso al chapter de esa tale y el servidor nos manda la información.
					socket.emit("loadChapter",name,pass,_tale,_chapter,currentCharacterName,currentCharacterGender);
				});
			}
			
			// Recibe las señales de comprobar chapter y cargar contenido.
			socket.on("chapterSuccess", (_content) => {
				var doc = new DOMParser().parseFromString(_content, "text/xml");
				console.log("DOC",doc);
				$("#chapter").html(doc);
			});
			socket.on("chapterFail", () => {
				$("#chapter").text("Tale's chapter not unlocked!");
			});
			
			// Setea el nombre de tu personaje y el género.
			setCharacterListener("01");
			
			// La lógica del seteo de nombre.
			function setCharacterListener(_tale)
			{
				// Nombre.
				$("#charname"+String(_tale)).keypress((e) => {
					if (e.key == "Enter")
					{
						socket.emit("setCharacterName",name,pass,_tale,$("#charname"+String(_tale)).val());
						$("#chapter").text("");
					}
				});
				
				// Género masculino o neutro.
				$("#bt"+String(_tale)+"m").click((e) => {
					socket.emit("setCharacterGender",name,pass,_tale,"M");
					$("#chapter").text("");
				});
				
				// Género femenino.
				$("#bt"+String(_tale)+"f").click((e) => {
					socket.emit("setCharacterGender",name,pass,_tale,"F");
					$("#chapter").text("");
				});
			}
			
			// Recibe el nombre actualizado.
			socket.on("characterNameChanged", (_character) => {
				currentCharacterName = _character;
			});
			
			// Recibe el género actualizado.
			socket.on("characterGenderChanged", (_gender) => {
				currentCharacterGender = _gender;
			});
			
			// Carga el character name y gender al elegir una pestaña.
			socket.on("receiveCharacterData", (_chapter,_character,_gender) => {
				$("#charname"+String(_chapter)).val(_character);
				currentCharacterName = _character;
				currentCharacterGender = _gender;
			});
		</script>
		
	</body>
</html>
