<!DOCTYPE html>
<html style="background-color:#000000; color:#FFFFFF;">
	<head>
        <meta charset="UTF-8" />
        <link rel="icon" href="https://i.imgur.com/I8ju6wN.png">
        <title>Tales of Raziel Lewach</title>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
	</head>

	<body>
		<table><tr><td>TALES OF RAZIEL LEWACH</td></tr>
		<tr><td><label for="name">Name:</label><input id="name" type="text"></input></td>
		<td><label for="pass">Password:</label><input id="pass" type="text"></input></td>
		<td><p id="msgSesion">Account not started. Create a new user or enter your existing user!</p></td></tr></table>	
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			var user = ""; // Nombre de usuario para chequear en el momento. Sólo se setea tras logins exitosos, pero aun así comprobar en cada acceso por si lo modifican con hacks.
			
			// Señales de lógica enviadas.
			$("#name").keypress((e) => {
				if (e.key == "Enter") login();
			});
			$("#pass").keypress((e) => {
				if (e.key == "Enter") login();
			});
			
			function login()
			{
				socket.emit("login",$("#name").val(),$("#pass").val());
			}
			
			// Señales de lógica recibidas.
			socket.on("newUserSuccess", (name) => {
				$("#msgSesion").text("Welcome to your account, "+String(name)+"!");
				user = name;
			});
			socket.on("newUserFail", (name) => {
				$("#msgSesion").text("Wrong password for that account!");
				user = "";
			});
		</script>
		
	</body>
</html>
