<!DOCTYPE html>
<html>
<head>
</head>

<body>

<button id="showData">Show data!</button>

<script>
	$(function(){
		//#############################################################################################################################################################################################
		//#################################### LOS INCLUDES Y CONEXIONES ############################################################################################################################
		//#############################################################################################################################################################################################

		// Crea la conexión
		var socket = io.connect(
			//'http://localhost:5000/'
			'https://node-example-tomato.herokuapp.com/'
		);

		//############################################################################################################################################################################################################################
		//#################################### INTERCAMBIO DE SEÑALES PARA LA LÓGICA ###################################################################################################################################################################
		//############################################################################################################################################################################################################################

		// Hacemos click
		$("#showData").onclick = function (e) {
			socket.emit('onRequest');
		};
	}
</script>

</body>
</html>
