<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<button id="showData">Show data!</button>

<script type="importmap">
  {
    "imports": {
      "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
    }
  }
</script>
<script type="module">
  import { io } from "socket.io-client";
  const socket = io();
</script>
 <script>
	$(function(){
		//#############################################################################################################################################################################################
		//#################################### LOS INCLUDES Y CONEXIONES ############################################################################################################################
		//#############################################################################################################################################################################################

		// Crea la conexión
		/*var socket = io.connect(
			//'http://localhost:5000/'
			'https://node-example-tomato.herokuapp.com/'
		);*/

		//############################################################################################################################################################################################################################
		//#################################### INTERCAMBIO DE SEÑALES PARA LA LÓGICA ###################################################################################################################################################################
		//############################################################################################################################################################################################################################

		// Hacemos click
		$("#showData").onclick = function (e) {
			socket.emit('onRequest');
		};
	});
</script>

</body>
</html>
